.songs-table{
    overflow-y: auto;
    width: 80%;
    margin:50px auto;
    max-height: 60vh;
    color: white;
}
i {
    cursor: pointer;
    color: white;
}

 th {
    border: none;
    width: 10%;
}